<!-- Content -->
<header class="py-5 mt-3 mb-3" style="background-color: #191a1d;">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-2 mt-3">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
      </div>
      <div class="col-lg-10">
        <h1 class="display-4 text-white mt-4">Desenvolvendo SPA com Angular</h1>
      </div>
    </div>
  </div>
</header>

<div class="container main-container">
  <div class="row text-center mt-n5">

    <div class="col-lg-3 col-md-6 md-4">
      <div class="card h-100 mt-n3">
        <img class="card-img-top" src="/assets/crossplat.jpg" height="164px" width="253px" alt="" />
        <div class="card-body">
          <h4 class="card-title">Multiplataforma</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 md-4">
      <div class="card h-100 mt-n3">
        <img class="card-img-top" src="/assets/performance.jpg" height="164px" width="253px" alt="" />
        <div class="card-body">
          <h4 class="card-title">Performance</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 md-4">
      <div class="card h-100 mt-n3">
        <img class="card-img-top" src="/assets/produtividade.jpg" height="164px" width="253px" alt="" />
        <div class="card-body">
          <h4 class="card-title">Produtividade</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 md-4">
      <div class="card h-100 mt-n3">
        <img class="card-img-top" src="/assets/full_dev.jpg" height="164px" width="253px" alt="" />
        <div class="card-body">
          <h4 class="card-title">Funcionalidades</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- FIM Content -->